<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.freescale.cdt.launch.cw.download">
<stringAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.CF Debugger.processor" value="MCF52221"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.CF Exceptions.accessError" value="true"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.CF Exceptions.addressError" value="true"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.CF Exceptions.divideByZero" value="true"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.CF Exceptions.formatError" value="true"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.CF Exceptions.illegalInstruction" value="true"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.CF Exceptions.irq7BreakButton" value="true"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.CF Exceptions.onPCBreakpointDebugInterrupt" value="true"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.CF Exceptions.pcBreakpointDebugInterrupt" value="true"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.CF Exceptions.privilegeViolation" value="true"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.CF Exceptions.spuriousInterrupt" value="true"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.CF Exceptions.trace" value="true"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.CF Exceptions.trap14ConsoleIO" value="true"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.CF Exceptions.unimplementedLineAOpcode" value="true"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.CF Exceptions.unimplementedLineFOpcode" value="true"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.CF Exceptions.uninitializedInterrupt" value="true"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.CF Exceptions.unsupportedInstruction" value="false"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.CF Exceptions.userAppTrap14ConsoleIO" value="false"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.CF Interrupt.interrupt_enabled" value="false"/>
<intAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.CF Interrupt.interrupt_mask" value="0"/>
<intAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.CF Reset.bInitTarget" value="1"/>
<intAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.CF Reset.initialPC" value="0"/>
<intAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.CF Reset.initialSP" value="0"/>
<intAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.CF Reset.source" value="0"/>
<stringAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.Debugger PIC Settings Panel.altLoadAddr" value="0"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.Debugger PIC Settings Panel.enableAltLoadAddr" value="false"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.Embedded Download.IDconstant" value="true"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.Embedded Download.IDexecutable" value="true"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.Embedded Download.IDinitialized" value="true"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.Embedded Download.IDuninitialized" value="false"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.Embedded Download.IVconstant" value="false"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.Embedded Download.IVexecutable" value="false"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.Embedded Download.IVinitialized" value="false"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.Embedded Download.IVuninitialized" value="false"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.Embedded Download.SDconstant" value="true"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.Embedded Download.SDexecutable" value="true"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.Embedded Download.SDinitialized" value="true"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.Embedded Download.SDuninitialized" value="false"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.Embedded Download.SVconstant" value="false"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.Embedded Download.SVexecutable" value="false"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.Embedded Download.SVinitialized" value="false"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.Embedded Download.SVuninitialized" value="false"/>
<intAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.Embedded Initialization.coreIndex" value="0"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.Embedded Initialization.homogeneousMulticore" value="false"/>
<stringAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.Embedded Initialization.initPath" value=""/>
<stringAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.Embedded Initialization.memConfigPath" value=""/>
<stringAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.Embedded Initialization.simulator" value=""/>
<booleanAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.Embedded Initialization.smp" value="false"/>
<stringAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.Embedded Initialization.systemType" value="com.freescale.cw.system.coldfire.MCF5222X.MCF52221"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.Embedded Initialization.useInitFile" value="false"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.Embedded Initialization.useMemoryConfigFile" value="false"/>
<stringAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.Linux Kernel Boot Parameters Panel.commandLine" value=""/>
<intAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.Linux Kernel Boot Parameters Panel.commandLineBaseAddr" value="-1879047936"/>
<intAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.Linux Kernel Boot Parameters Panel.commandLineBaseAddrExt" value="0"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.Linux Kernel Boot Parameters Panel.downloadInitrd" value="false"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.Linux Kernel Boot Parameters Panel.enableCmdLine" value="false"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.Linux Kernel Boot Parameters Panel.enableInitrd" value="false"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.Linux Kernel Boot Parameters Panel.enableKernelTaggedList" value="false"/>
<intAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.Linux Kernel Boot Parameters Panel.initrdBaseAddr" value="0"/>
<intAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.Linux Kernel Boot Parameters Panel.initrdBaseAddrExt" value="0"/>
<stringAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.Linux Kernel Boot Parameters Panel.initrdPath" value=""/>
<intAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.Linux Kernel Boot Parameters Panel.initrdSize" value="0"/>
<intAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.Linux Kernel Boot Parameters Panel.initrdSizeExt" value="0"/>
<intAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.Linux Kernel Boot Parameters Panel.taglistBaseAddr" value="-1879047936"/>
<intAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.Linux Kernel Boot Parameters Panel.taglistBaseAddrExt" value="0"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.Linux Kernel Debug Settings Panel.enableDelayedBreakpoints" value="false"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.Linux Kernel Debug Settings Panel.enableMemTranslation" value="true"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.Linux Kernel Debug Settings Panel.enableThreading" value="true"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.Linux Kernel Debug Settings Panel.enableUpdateBackgroundThreads" value="true"/>
<intAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.Linux Kernel Debug Settings Panel.memorySize" value="32505856"/>
<intAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.Linux Kernel Debug Settings Panel.memorySizeExt" value="0"/>
<intAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.Linux Kernel Debug Settings Panel.physicalBaseAddr" value="-1879048192"/>
<intAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.Linux Kernel Debug Settings Panel.physicalBaseAddrExt" value="0"/>
<intAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.Linux Kernel Debug Settings Panel.virtualBaseAddr" value="-1073741824"/>
<intAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.Linux Kernel Debug Settings Panel.virtualBaseAddrExt" value="0"/>
<intAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.Linux Kernel Residual Data Panel.baseAddress" value="0"/>
<intAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.Linux Kernel Residual Data Panel.baseAddressExt" value="0"/>
<stringAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.Linux Kernel Residual Data Panel.baseTypeName" value=""/>
<intAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.Linux Kernel Residual Data Panel.count" value="0"/>
<listAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.Linux Kernel Residual Data Panel.elementName"/>
<listAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.Linux Kernel Residual Data Panel.elementValue"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.Linux Kernel Residual Data Panel.enableResidualData" value="false"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.Linux Kernel Residual Data Panel.setResidualDataAfterDecompress" value="false"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.Remote Debug.altDownloadConnectionFlag" value="false"/>
<stringAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.Remote Debug.altDownloadConnectionName" value=""/>
<stringAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.Remote Debug.connectionName" value=""/>
<stringAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.Remote Debug.downloadPath" value=""/>
<booleanAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.Remote Debug.enabled" value="true"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.Remote Debug.launchRemoteApp" value="false"/>
<stringAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.Remote Debug.osConnectionName" value=""/>
<booleanAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.Remote Debug.osDownloadFlag" value="false"/>
<stringAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.Remote Debug.osPath" value=""/>
<stringAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.Remote Debug.remoteAppPath" value=""/>
<listAttribute key="com.freescale.cdt.debug.cw.CoreNameList">
<listEntry value="MCF52221#0"/>
</listAttribute>
<listAttribute key="com.freescale.cdt.debug.cw.Debug"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.Embedded Download.ExecuteTasks" value="false"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.Embedded Download.StandardDownload" value="true"/>
<listAttribute key="com.freescale.cdt.debug.cw.Embedded Download.TaskInitialLaunches"/>
<listAttribute key="com.freescale.cdt.debug.cw.Embedded Download.TaskNames"/>
<listAttribute key="com.freescale.cdt.debug.cw.Embedded Download.TaskSuccessiveRuns"/>
<listAttribute key="com.freescale.cdt.debug.cw.Embedded Download.TaskTypes"/>
<listAttribute key="com.freescale.cdt.debug.cw.ExecutablePath"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.LinuxKernelModules.autoLoad" value="false"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.LinuxKernelModules.keepTargetSuspended" value="false"/>
<listAttribute key="com.freescale.cdt.debug.cw.LinuxKernelModules.modulesNames"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.LinuxKernelModules.openDialog" value="false"/>
<listAttribute key="com.freescale.cdt.debug.cw.LinuxKernelModules.symbolicsPaths"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.PN_StopAtExit" value="false"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.PN_StopAtProgramEntryPoint" value="false"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.PN_StopAtStartUp" value="true"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.PN_StopAtUserSpecified" value="true"/>
<stringAttribute key="com.freescale.cdt.debug.cw.RefreshPolicy.RefreshPeriod" value="2.0"/>
<listAttribute key="com.freescale.cdt.debug.cw.RemoteDownload"/>
<listAttribute key="com.freescale.cdt.debug.cw.RemotePath"/>
<listAttribute key="com.freescale.cdt.debug.cw.SMPCores"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.SYNC_WITH_ENCL_PROJ" value="true"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.Symbolics.CacheSymbolicsBetweenRuns" value="false"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.Symbolics.UseExecutableCopy" value="false"/>
<stringAttribute key="com.freescale.cdt.debug.cw.UDPPort" value="1234"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.core.settings.ConnectionCommonData.TargetConnectionLost.RetryConnectionOn" value="false"/>
<intAttribute key="com.freescale.cdt.debug.cw.core.settings.ConnectionCommonData.TargetConnectionLost.RetryTimeout" value="20"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.core.settings.ConnectionCommonData.TargetConnectionLost.RetryWithTimeoutOn" value="false"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.core.settings.ConnectionCommonData.TargetConnectionLost.TerminateConnectionOn" value="false"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.core.settings.ConnectionCommonData.TargetConnectionLost.promptUserActionOn" value="true"/>
<stringAttribute key="com.freescale.cdt.debug.cw.core.settings.DebuggerCommonData.Connection Protocol Plugin Name" value="CF - GDI"/>
<stringAttribute key="com.freescale.cdt.debug.cw.core.settings.DebuggerCommonData.Connection Type" value="com.pemicro.mcu.debug.connections.pne.cfv234"/>
<stringAttribute key="com.freescale.cdt.debug.cw.core.settings.DebuggerCommonData.Host App Path" value=""/>
<stringAttribute key="com.freescale.cdt.debug.cw.core.settings.GdiConnection.Common.PhysicalConnectionAttributeBase" value="com.pemicro.mcu.debug.connections.pne.cfv234."/>
<stringAttribute key="com.freescale.cdt.debug.cw.core.settings.GdiConnection.Common.SimulatorConnectionAttributeBase" value=""/>
<booleanAttribute key="com.freescale.cdt.debug.cw.core.settings.GdiConnection.Common.logData" value="false"/>
<stringAttribute key="com.freescale.cdt.debug.cw.core.settings.rseSystemId" value="com.freescale.cdt.debug.cw.core.ui.rse.systemtype.bareboard.hardware.130408180550+0300"/>
<stringAttribute key="com.freescale.cdt.debug.cw.debuggerAddress" value="127.0.0.1"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.disableIO" value="false"/>
<stringAttribute key="com.freescale.cdt.debug.cw.ethCtrl" value="Ethernet Controller 1"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.executePerCoresReset" value="false"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.executePerprocessorReset" value="false"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.executeReset" value="false"/>
<stringAttribute key="com.freescale.cdt.debug.cw.gateway" value="127.0.0.1"/>
<listAttribute key="com.freescale.cdt.debug.cw.initPathList">
<listEntry value=""/>
</listAttribute>
<stringAttribute key="com.freescale.cdt.debug.cw.macAddress" value="**-**-**-**-**-**"/>
<listAttribute key="com.freescale.cdt.debug.cw.memConfigPathList">
<listEntry value=""/>
</listAttribute>
<stringAttribute key="com.freescale.cdt.debug.cw.netMask" value="255.255.255.255"/>
<stringAttribute key="com.freescale.cdt.debug.cw.osawareness.osContributorID" value="None"/>
<stringAttribute key="com.freescale.cdt.debug.cw.osawareness.rtospluginname" value=""/>
<stringAttribute key="com.freescale.cdt.debug.cw.osawareness.targetos" value="None"/>
<listAttribute key="com.freescale.cdt.debug.cw.perCoreResetList"/>
<listAttribute key="com.freescale.cdt.debug.cw.perProcessorResetList"/>
<listAttribute key="com.freescale.cdt.debug.cw.runOutOfResetList">
<listEntry value="false"/>
</listAttribute>
<stringAttribute key="com.freescale.cdt.debug.cw.targetAddress" value="127.0.0.1"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.useGateway" value="false"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.useHSSTIO" value="false"/>
<listAttribute key="com.freescale.cdt.debug.cw.useInitPathList">
<listEntry value="false"/>
</listAttribute>
<booleanAttribute key="com.freescale.cdt.debug.cw.useMacAddress" value="false"/>
<listAttribute key="com.freescale.cdt.debug.cw.useMemConfigPathList">
<listEntry value="false"/>
</listAttribute>
<booleanAttribute key="com.freescale.cdt.debug.cw.useNetworkTransferIO" value="false"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.useSerialTransferIO" value="false"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.useStopTransferIO" value="true"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.useUDPPort" value="false"/>
<listAttribute key="com.freescale.panel.list">
<listEntry value="Debugger Common Settings"/>
<listEntry value="CF Exceptions"/>
<listEntry value="CF Reset"/>
<listEntry value="CF Interrupt"/>
<listEntry value="Embedded Download"/>
<listEntry value="Debugger PIC Settings Panel"/>
<listEntry value="Remote Debug"/>
<listEntry value="Other Executables"/>
<listEntry value="Symbolics"/>
<listEntry value="osawareness"/>
</listAttribute>
<booleanAttribute key="com.freescale.sa.mcu.launch.ENABLE_ANALYSIS" value="false"/>
<booleanAttribute key="com.freescale.sa.mcu.launch.ENABLE_LOGGING" value="false"/>
<booleanAttribute key="com.freescale.sa.mcu.launch.SET_TGT_SETTING_ON_RUN" value="false"/>
<stringAttribute key="com.pemicro.mcu.debug.connections.pne.cfv234.CommandLineArgs" value=""/>
<stringAttribute key="com.pemicro.mcu.debug.connections.pne.cfv234.ConfigFile" value=""/>
<stringAttribute key="com.pemicro.mcu.debug.connections.pne.cfv234.Library" value="cf_pne_gdi"/>
<stringAttribute key="com.pemicro.mcu.debug.connections.pne.cfv234.STARTUP_FREQ_CYCLONE" value="3"/>
<stringAttribute key="com.pemicro.mcu.debug.connections.pne.cfv234.STARTUP_FREQ_FX" value="4"/>
<stringAttribute key="com.pemicro.mcu.debug.connections.pne.cfv234.STARTUP_FREQ_NORMAL" value="0"/>
<stringAttribute key="com.pemicro.mcu.debug.connections.pne.cfv234.STARTUP_FREQ_OSJTAG" value="0"/>
<stringAttribute key="com.pemicro.mcu.debug.connections.pne.cfv234.STARTUP_FREQ_TRACELINK" value="3"/>
<stringAttribute key="com.pemicro.mcu.debug.connections.pne.cfv234.STARTUP_PCI_DELAY" value="0"/>
<stringAttribute key="com.pemicro.mcu.debug.connections.pne.cfv234.STARTUP_PORT" value="1"/>
<stringAttribute key="com.pemicro.mcu.debug.connections.pne.cfv234.STARTUP_RESET_DELAY" value="0"/>
<stringAttribute key="com.pemicro.mcu.debug.connections.pne.cfv234.STARTUP_SPECIFY_IP" value="127.0.0.1"/>
<stringAttribute key="com.pemicro.mcu.debug.connections.pne.cfv234.STARTUP_SPECIFY_IP_ENABLED" value="0"/>
<stringAttribute key="com.pemicro.mcu.debug.connections.pne.cfv234.STARTUP_SPECIFY_NETWORKCARD" value="127.0.0.1"/>
<stringAttribute key="com.pemicro.mcu.debug.connections.pne.cfv234.STARTUP_SPECIFY_NETWORKCARD_ENABLED" value="0"/>
<stringAttribute key="com.pemicro.mcu.debug.connections.pne.cfv234.STARTUP_TraceLink_MaxBufferSize" value="1"/>
<stringAttribute key="com.pemicro.mcu.debug.connections.pne.cfv234.STARTUP_TraceLink_PowerDownDelay" value="250"/>
<stringAttribute key="com.pemicro.mcu.debug.connections.pne.cfv234.STARTUP_TraceLink_PowerUpDelay" value="250"/>
<stringAttribute key="com.pemicro.mcu.debug.connections.pne.cfv234.STARTUP_TraceLink_currentvoltage" value="255"/>
<stringAttribute key="com.pemicro.mcu.debug.connections.pne.cfv234.STARTUP_TraceLink_poweroffonexit" value="1"/>
<stringAttribute key="com.pemicro.mcu.debug.connections.pne.cfv234.STARTUP_USE_BDM_INTERFACE_FOR_FREEZE_DETECTION" value="false"/>
<stringAttribute key="com.pemicro.mcu.debug.connections.pne.cfv234.STARTUP_USE_TRACELINK_RELAYS" value="1"/>
<stringAttribute key="com.pemicro.mcu.debug.connections.pne.cfv234.STARTUP_interface_selection" value="3"/>
<stringAttribute key="com.pemicro.mcu.debug.connections.pne.cfv234.UUID" value="033bcdcd-2270-4fe0-9cb3-d405a9185413"/>
<intAttribute key="org.eclipse.cdt.launch.ATTR_BUILD_BEFORE_LAUNCH_ATTR" value="2"/>
<stringAttribute key="org.eclipse.cdt.launch.COREFILE_PATH" value=""/>
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_ID" value="com.freescale.cdt.debug.cw.coldfire.ColdFireDebugger"/>
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_START_MODE" value="run"/>
<booleanAttribute key="org.eclipse.cdt.launch.DEBUGGER_STOP_AT_MAIN" value="true"/>
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_STOP_AT_MAIN_SYMBOL" value="main"/>
<booleanAttribute key="org.eclipse.cdt.launch.ENABLE_REGISTER_BOOKKEEPING" value="false"/>
<booleanAttribute key="org.eclipse.cdt.launch.ENABLE_RESTORE_WATCHPOINTS" value="true"/>
<booleanAttribute key="org.eclipse.cdt.launch.ENABLE_VARIABLE_BOOKKEEPING" value="false"/>
<stringAttribute key="org.eclipse.cdt.launch.PROGRAM_NAME" value="MCF52221_Internal_Flash/cfv2usbm52221.elf"/>
<stringAttribute key="org.eclipse.cdt.launch.PROJECT_ATTR" value="cfv2_m52221demo_msd_cdc"/>
<booleanAttribute key="org.eclipse.cdt.launch.PROJECT_BUILD_CONFIG_AUTO_ATTR" value="true"/>
<stringAttribute key="org.eclipse.cdt.launch.PROJECT_BUILD_CONFIG_ID_ATTR" value="com.freescale.coldfire.toolchain.configuration.1798905127"/>
<intAttribute key="org.eclipse.cdt.launch.SET_REGULAR_BREAKPOINT_TYPE_AS" value="0"/>
<booleanAttribute key="org.eclipse.cdt.launch.USE_SET_REGULAR_BREAKPOINT_TYPE_AS" value="false"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/cfv2_m52221demo_msd_cdc"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<booleanAttribute key="org.eclipse.debug.ui.ATTR_REDIRECT_TO_SERVER_SOCKET" value="false"/>
<booleanAttribute key="org.eclipse.debug.ui.ATTR_REDIRECT_TO_SOCKET" value="false"/>
<stringAttribute key="org.eclipse.debug.ui.ATTR_REDIRECT_TO_SOCKET_HOST" value=""/>
<stringAttribute key="org.eclipse.debug.ui.ATTR_REDIRECT_TO_SOCKET_PORT" value=""/>
</launchConfiguration>
